
.logo{
    text-align: center;
    margin: 100px;
}

.slogan {
    text-align: center;
    margin: 200px;
}

.go {
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-family: hack;
    cursor: pointer;
}