html, body {
    font-size: 15px;
    font-family: hack;
    margin: 0px;
}

.main {
    width: 800px;
    max-width: 75vw;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h1 {
    margin: 100px;
}

a {
    color: inherit;
}

.textcenter {
    text-align: center;
}

.active{
    background-color: #4CAF50;
    cursor: pointer;
}

.disabled{
    background-color: #bbbbbb;
    cursor: wait;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-family: hack;
    margin: 20px;
    min-width: 400px;
}
