.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 100px 50px 100px 50px;
}

.question {
    font-size: 2em;
}

.disclaimer {
    font-size: 0.7em;
}

.graph {
    max-width: 800px;
    margin: 100px;
}

@media all and (max-width: 900px) {
    .portrait {
        width: 250px;
    }

    .submit {
        width: 250px;
        height: 250px;
    }
  }
