<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/sedma/hrat.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  {% module Template("parts/tracking.html") %}
  {% module Template("parts/meta.html",
    subtitle=subtitle,
    url=url,
    image="https://nejvyzkum.cz/img/moneybrain.jpg",
    description="Zadejte Váš názor a pomožte nám nahlédnout do duše nejbohatších. Zapojte se do toho nejlepší z možných výzkumů!"
  ) %}

</head>

<body>

  <div class="heading">
    <span class="question">{{ question["cz-pre"] }} {{ question["cz"] }}</span>
    <span class="closer">kliknutím označte danou osobu</span>
  </div>

  <div class="persons">
    <div class="person">
      <form action="" method="post">
        <input type="hidden" name="question" value="{{ question['id'] }}">
        <input type="hidden" name="yes" value="{{ first['id'] }}">
        <input type="hidden" name="no" value="{{ second['id'] }}">
        <input type="submit" value="" class="submit" style="background-image: url('{{ first['image'] }}');"/>
      </form>
    </div>

    <div class="person">
      <form action="" method="post">
        <input type="hidden" name="question" value="{{ question['id'] }}">
        <input type="hidden" name="yes" value="{{ second['id'] }}">
        <input type="hidden" name="no" value="{{ first['id'] }}">
        <input type="submit" value="" class="submit" style="background-image: url('{{ second['image'] }}');"/>
      </form>
    </div>
  </div>

  {% module Template("parts/footer.html") %}

</body>
</html>