<!doctype html>

<html lang="cz">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158083031-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-158083031-1');
  </script>

  <meta charset="utf-8">

  <title>Nejvyzkum.cz - {{ subtitle }}</title>
  <meta name="description" content="Nejvyzkum.cz - {{ subtitle }}">
  <meta name="author" content="Andreas Gajdosik">
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/sedma/zajimavost.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  <meta property="og:title" content="Nejvyzkum.cz - {{ subtitle }}">
  <meta property="og:description" content="Náhodná zajímavost z duševního světa nejbohatších. Tomu neuvěříte.">
  <meta property="og:image" content="/favicon.ico">
  <meta property="og:url" content="https://www.nejvyzkum.cz/sedma-trida/zajimavost">
  <meta name="twitter:card" content="summary_large_image">
</head>

<body>

  <h1 class="slogan">
    {{ question }}
  </h1>

  <div class="subslogan">
    {{ answer }}
  </div>

  <div class="go">
    <form action="/sedma-trida/hrat" method="get">
      <input type="submit" value="Chci víc!" class="button" />
    </form>
  </div>

  {% module Template("parts/footer.html") %}

</body>
</html>