<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/vysledky/profil.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  {% module Template("parts/tracking.html") %}
  {% module Template("parts/meta.html",
  subtitle=profile['name'],
  url=url,
  image="{{ profile['image'] }}",
  description="Přehled osobnostních výsledků z námi získaných dat. Zkrátka výsledky toho nejlepšího z možných výzkumů!"
  ) %}

  <script src="/js/Chart.js"></script>

</head>

<body>

  <div class="heading">
    <span class="name">{{ profile["name"] }}</span>
    <img class="portrait" src="{{ profile['image'] }}">
    <div class="quote">{{ profile["quote"] }}</div>

    <div>
      {% for question in korona %}
        <div>{{ question["cz"] }}: {{ question["rating"]*100 }}%</div>
      {% end %}
    </div>

    <canvas id="bigFiveGraph" class="graph" width="400px" height="400px"></canvas>
    <canvas id="scl90Graph" class="graph" width="800px" height="800px"></canvas> 
    <p class="disclaimer">*Vizualizace dat sesbíraných od návštěvníků této stránky. Nejedná se o výsledky osobnostního či psychologického testu vyplněného zobrazenou osobou. Nejde o tvrzení o duševním stavu zobrazené osoby. Nejde o její lékařskou diagnózu.</p>
  </div>

  {% module Template("parts/footer.html") %}

</body>

<script>
var bfg = document.getElementById('bigFiveGraph').getContext("2d");
var bigFiveChart = new Chart(bfg, {
    type: 'bar',
    data: {
        labels: ['Extroverze', 'Přívětivost', 'Svědomitost', 'Neurotismus', 'Otevřenost'],
        datasets: [{
            label: '',
            data: [
              {{(bigFive["extroversion"]/bigFive["average"]-1)*100}} ,
              {{(bigFive["agreeableness"]/bigFive["average"]-1)*100}},
              {{(bigFive["conscientiousness"]/bigFive["average"]-1)*100}},
              {{(bigFive["neuroticism"]/bigFive["average"]-1)*100}},
              {{(bigFive["openness"]/bigFive["average"]-1)*100}}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
        display: true,
        text: '{{ profile["name"] }}: test osobnosti Big Five*',
        fontSize: 30,
      },
      legend: {
        display: false,
      }
    }
});


var chartData = {
			labels: ['Somatizace', 'Obsese-Kompulze', 'Hypersenzitivita', 'Deprese', 'Anxiozita', 'Hostilita', 'Fóbie', 'Paranoidita', 'Psychocismus', 'Obecná závažnost'],
			datasets: [{
				type: 'line',
        showLine: false,
        pointStyle: 'line',
        pointRadius: 18,
        borderWidth: 5,
				label: 'Hranice onemocnění',
        backgroundColor: 'red',
				borderColor: 'red',
				data: [
					0.81,
					1.07,
					0.99,
					0.99,
					1.23,
					0.78,
					0.54,
          0.80,
          0.50,
          0.89
				]
			}, {
				type: 'line',
        showLine: false,
        pointStyle: 'line',
        pointRadius: 18,
        borderWidth: 5,
				label: 'Hranice normy',
				backgroundColor: 'orange',
        borderColor: 'orange',
				data: [
          0.75,
					0.99,
					0.65,
					0.66,
					0.80,
					0.71,
					0.36,
          0.61,
          0.34,
          0.64
				]
			},{
				type: 'bar',
        borderWidth: 5,
				label: 'Naměřená hodnota',
				backgroundColor: 'green',
        borderColor: 'green',
				data: [
          {{ scl90["somatization"] }},
					{{ scl90["obsessiveCompulsive"] }},
					{{ scl90["interpersonalSensitivity"] }},
					{{ scl90["depression"] }},
					{{ scl90["anxiety"] }},
					{{ scl90["hostility"] }},
					{{ scl90["phobicAnxiety"] }},
          {{ scl90["paranoidIdeation"] }},
          {{ scl90["psychoticism"] }},
          {{ scl90["general"] }}
				]
			}
      ]
		};


var scl = document.getElementById('scl90Graph').getContext('2d');
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 20;
var sclChart = new Chart(scl, {
  type: 'bar',
	data: chartData,
	options: {
		responsive: true,
		title: {
			display: true,
			text: '{{ profile["name"] }}: psychometrika SCL90*',
      fontSize: 30,
		},
    legend:{
      reverse: true
    },
		tooltips: {
			mode: 'index',
			intersect: true
		}
	}
});
</script>

</html>