<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/vysledky/vysledky.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  {% module Template("parts/tracking.html") %}
  {% module Template("parts/meta.html",
  subtitle=subtitle,
  url=url,
  image="https://nejvyzkum.cz/img/moneybrain.jpg",
  description="Rozcestník k podrobným výsledkům nejlepšího z možných výzkumů. Vyhledejte jakoukoliv ze zkoumaných osob a zobrazte výsledky."
  ) %}

</head>

<body>
  {% module Template("parts/upper.html") %}
  
  <div class="main">
    <h1>
      Výsledky
    </h1>

    <form>
      <select id="lists" name="list">
        {% for lst in lists %}
          {% if selectedList == lst['code'] %}
            <option selected value="{{ lst['code'] }}">{{ lst['name'] }}</option>
          {% else %}
            <option value="{{ lst['code'] }}">{{ lst['name'] }}</option>
          {% end %}
        {% end %}
      </select>

      <select id="orderBy" name="order">
        <option value="default">výchozí řazení</option>
        <option disabled>── Big Five: osobnostní rysy ────────────</option>
        <option value="extroversion">Extroverze</option>
        <option value="agreeableness">Přívětivost</option>
        <option value="conscientiousness">Svědomitost</option>
        <option value="neuroticism">Neurotismus</option>
        <option value="openness">Otevřenost</option>
        <option disabled>── SCL90: sklony k psychickým poruchám ──</option>
        <option value="somatization">Somatizace</option>
        <option value="obsessiveCompulsive">Obsese-Kompulze</option>
        <option value="interpersonalSensitivity">Hypersenzitivita</option>
        <option value="depression">Deprese</option>
        <option value="anxiety">Anxiozita</option>
        <option value="hostility">Hostilita</option>
        <option value="phobicAnxiety">Fóbie</option>
        <option value="paranoidIdeation">Paranoidita</option>
        <option value="psychoticism">Psychocismus</option>
        <option value="general">Obecná závažnost psycho. onemocnění</option>
      </select>

      <input type="button" onclick="form.submit()" value="Zobrazit">
    </form>

    {% for i, person in enumerate(persons) %}
    
    <div class="person">
      {% if person['active']==1 %}
        {% if "score" in person %}
          <div class="name">
            <a href="/profil?id={{ person['id']}}">{{ person['name']}}</a>
          </div>

          <div class="scoreBar">
            {% set q = (person['score'] - minimum ) / (maximum - minimum) %}
            <div class="score" style="background-color: rgba({{q*255}}, {{(1-q)*255}}, 0, 1)">{{ round(person["score"],2) }}</div>
            <div class="bar">
              <div style="width: {{q*100}}%; background-color: rgba({{q*255}}, {{(1-q)*255}}, 0, 1)"></div>
            </div>
          </div>
        {% else %}
          <div class="name" style="text-align: center;">
            {{i+1}}. <a href="/profil?id={{ person['id']}}">{{ person['name']}}</a>
          </div>
        {% end %}
      {% else %}
        <div class="name" style="text-align: center;">
          {{i+1}}. {{ person['name']}}
        </div>
      {% end %}
    </div>

    {% end %}
  </div>

  {% module Template("parts/footer.html") %}

</body>

<script>
  var urlParams = new URLSearchParams(window.location.search);
  var order = urlParams.get('order');
  if (order == null){
    order = "default";
  }


  let element = document.getElementById("orderBy");
  console.log(element)
  element.value = order;
</script>

</html>