<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/vysledky/vysledky.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  {% module Template("parts/tracking.html") %}
  {% module Template("parts/meta.html",
  subtitle=subtitle,
  url=url,
  image="https://nejvyzkum.cz/img/moneybrain.jpg",
  description="Rozcestník k podrobným výsledkům nejlepšího z možných výzkumů. Vyhledejte jakoukoliv ze zkoumaných osob a zobrazte výsledky."
  ) %}

</head>

<body>
  {% module Template("parts/upper.html") %}
  
  <div class="main">
    <h1>
      Výsledky
    </h1>

    <form>
      <select id="lists" name="list" onchange='form.submit()'>
        {% for lst in lists %}
          {% if selectedList == lst['code'] %}
            <option selected value="{{ lst['code'] }}">{{ lst['name'] }}</option>
          {% else %}
            <option value="{{ lst['code'] }}">{{ lst['name'] }}</option>
          {% end %}
        {% end %}
      </select>

      <select id="orderBy" name="order" onchange='form.submit()'>
        <option disabled>── Big Five: osobnostní rysy ────────────</option>
        <option selected value="extroversion">Extroverze</option>
        <option selected value="agreeableness">Přívětivost</option>
        <option selected value="conscientiousness">Svědomitost</option>
        <option selected value="neuroticism">Neurotismus</option>
        <option selected value="openness">Otevřenost</option>
        <option disabled>── SCL90: sklony k psychickým poruchám ──</option>
        <option selected value="somatization">Somatizace</option>
        <option selected value="obsessiveCompulsive">Obsese-Kompulze</option>
        <option selected value="interpersonalSensitivity">Hypersenzitivita</option>
        <option selected value="depression">Deprese</option>
        <option selected value="anxiety">Anxiozita</option>
        <option selected value="hostility">Hostilita</option>
        <option selected value="phobicAnxiety">Fóbie</option>
        <option selected value="paranoidIdeation">Paranoidita</option>
        <option selected value="psychoticism">Psychocismus</option>
        <option selected value="general">Obecná závažnost psycho. onemocnění</option>
      </select>
    </form>

    {% for i, person in enumerate(persons) %}
    <div>
      {% if person['active']==1 %}
        {{i+1}}. <a href="/profil?id={{ person['id']}}">{{ person['name']}}</a>
        {% if "score" in person %}
          ........... {{ person["score"] }}
        {% end %}
      {% else %}
        {{i+1}}. {{ person['name']}}
      {% end %}
    </div>
    {% end %}
  </div>

  {% module Template("parts/footer.html") %}

</body>

</html>