.name {
    font-size: 1.5em;
    margin: 50px 0 0 0;
}

.portrait{
    margin: 50px;
}

.quote{
    max-width: 800px;
    font-style: italic;
}

.disclaimer {
    font-size: 0.7em;
}

.graph {
    max-width: 800px;
    margin: 100px;
}

#korona{
    display: none;
}

@media all and (max-width: 900px) {
    .portrait {
        width: 250px;
    }

    .submit {
        width: 250px;
        height: 250px;
    }
}
