.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 100px 50px 100px 50px;
}

.name {
    font-size: 2em;
}

.portrait{
    margin: 50px;
}

.quote{
    max-width: 800px;
    font-style: italic;
}

.disclaimer {
    font-size: 0.7em;
}

.graph {
    max-width: 800px;
    margin: 100px;
}

#korona{
    display: none;
}

@media all and (max-width: 900px) {
    .portrait {
        width: 250px;
    }

    .submit {
        width: 250px;
        height: 250px;
    }
  }
