#questionList {
  display: none;
}

.personQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
  width: 100%;
}

.personQuestion > .name {
  text-align: center;
}

.questionBar {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0 0;
}

.yes {
  width: 300px;
  display: flex;
  justify-content: left;
}

.no {
  width: 300px;
  display: flex;
  justify-content: right;
}

.yes > span, .no > span {
  padding: 0 0.7rem;
}

.yes > div, .no > div {
  height: 100%;
}

.results {
  margin: 50px 0 0 0;
  width: 100%;
}

.person {
  display: flex;
  margin: 0 0 2rem 0;
  width: 100%;
  justify-content: center;
}

.name {
  width: 300px;
  text-align: right;
  padding: 0.2rem 0;
}

.name > span {
  padding: 0 1rem;
}

.scoreBar {
  display: flex;
  width: 300px;
}

.score {
  padding: 0.2rem 0.3rem;
}

.bar {
  width: 200px;
}

.bar div{
  height: 100%;
}
