<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/css/korona/hra.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/korona/hra.js"></script>
    <script type="application/javascript">
      openWS("{{token}}");
    </script>

</head>
  <body>

    <div class="main">
      <div id="role">Role</div>
      <div id="question">Question</div>
      <div id="suspects">
        {% for x in range(16) %}
          <div id="{{x}}" class="suspect">{{x}}</div>
        {% end %}
      </div>
      <button id="send">Potvrdit</button>
    </div>



  </body>
</html>
