<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/korona/hra.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

    {% module Template("parts/tracking.html") %}
    {% module Template("parts/meta.html",
    subtitle="Neobvyklí podezřelí (online hra)",
    url=url,
    image="https://nejvyzkum.cz/img/moneybrain.jpg",
    description="Podaří se Vám a Vašemu spoluhráči vypátrat, který z českých miliardářů je zločinec? Dokážete odhadnout úsudky druhého a dojít zdárného konce? Zjistěte to teď!"
    ) %}

    <script src="/js/korona/hra.js"></script>
    <script type="application/javascript">
      openWS("{{token}}");
    </script>

</head>
  <body onload="openHelp()">
    {% module Template("parts/upper.html") %}

    <div id="game-lost" class="endGameWindow">
      <div class="endGameContainer">
        <div class="endGameH1">Byl vyloučen pachatel, prohráli jste!</div>
        <div class="restart" onclick="restartGame()">zkusit znovu</div>
      </div>
    </div>

    <div id="game-won" class="endGameWindow">
      <div class="endGameContainer">
        <div class="endGameH1">Pachatel odhalen, vyhráli jste!</div>
        <div class="restart" onclick="restartGame()">hrát znova</div>
      </div>
    </div>

    <div id="napovedaLayer">
      <div id="napoveda">

        <div id="napovedaVitejtePanel">
          <div class="napovedah1">Vítejte ve hře!</div>
          <div>
            Hra je určena pro 2 hráče.
            Jeden hraje v roli svědka, druhá v roli vyšetřovatele.
            Pošlete link vašemu spoluhráči nebo spoluhráčce, aby se mohl/a připojit k Vaší seanci:
            <div id="link"></div>
          </div>
        </div>

        <p>
        <div class="napovedah2">
          Pravidla hry:
        </div>
        <div class="napovedaPravidlo">
          1. Hru začíná svědek.
          Ten vidí, kdo je pachatelem, a podle své úvahy odpovídá na náhodně vygenerovanou otázku.
          Souhlasí pachatel s uzavřením hranic během pandemie? Nosí pachatel roušku poctivě?
          Úkolem svědka je dobře odhadnout pachatele a odpovědět, jak se pachatel k otázce asi staví.
        </div>
        <div class="napovedaPravidlo">
          2. Po zodpovězení otázky hraje vyšetřovatel.
          Vyšetřovatel vidí otázku a odpověď svědka.
          Úkolem vyšetřovatele je vyřadit jednu nevinnou osobu, která nevyhovuje svědkově odpovědi na položenou otázku.
          Nosí pachatel roušku poctivě? NE? Pak je potřeba vyřadit jednoho podezřelého, který vypadá, že roušku poctivě nosí.
        </div>
        <div class="napovedaPravidlo">
          3. Po vyřazení nevinné osoby hra pokračuje opět tahem svědka (1.), po němž následuje tah vyšetřovatele (2.) a tak dále pořád dokola, až do postupného vyloučení všech nevinných osob.  
        </div>
        </p>

        <p>
        <div>
          <div class="napovedah2">Konec hry:</div>
          <div>Hra končí prohrou, pokud vyšetřovatel namísto nevinné osoby vyloučí pachatele.</div>
          <div>Hra končí výhrou, pokud vyšetřovatel postupně vyloučí všechny nevinné osoby a zůstane mu jako poslední pachatel.</div>
        </div>
        </p>

        <div id="napovedaClose" onclick="closeHelp()">zavřít nápovědu</div>
      </div>
    </div>

    <div class="main">

      <div class="roles">
        <div id="role" onclick="openHelp()"></div>
        <div id="onmove"></div>
      </div>

      <div id="question"></div>
      
      <div class="answerUI">
        <div></div>
        <div id="witnessUI">
            <button id="yes" class="answerButton" onclick="witnessAnswer(true)">ANO</button>
            <button id="no" class="answerButton" onclick="witnessAnswer(false)">NE</button>
        </div>
        
        <div>
        <div id="answer"></div>
        </div>
      </div>

      <div id="suspects">
        {% for x in range(16) %}
          <div id="{{x}}" class="suspect" onclick="suspectClick({{x}})">
            <div class="criminal"></div>
            <img class="portrait" src="">
            <div class="name"></div>
            <div class="info">
              <span class="infoKey"></span>:
              <span class="infoValue"></span>
            </div>
            <div class=eliminated></div>
          </div>
        {% end %}
      </div>

    </div>

    {% module Template("parts/footer.html") %}

  </body>
</html>
