<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/korona/index.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

    {% module Template("parts/tracking.html") %}
    {% module Template("parts/meta.html",
    subtitle="Neobvyklí podezřelí (online hra)",
    url=url,
    image="/img/moneybrain.jpg",
    description="Podaří se Vám a Vašemu spoluhráči vypátrat, který z českých miliardářů je zločinec? Dokážete odhadnout úsudky druhého a dojít zdárného konce? Zjistěte to teď hned na nejvyzkum.cz!"
    ) %}

  </head>
  <body>
    {% module Template("parts/upper.html") %}
    <div class="main">

      <h1 class="textcenter">
        <span class="cz">Korona speciál - online hra</span>
      </h1>
    
      <p class="textcenter">
        Zahrajte si upravenou verzi společenské hry Neobvyklí podezřelí.
        Hrát můžete online s vašimi přáteli.
        Stačí vytvořit novou hru a poslat vašemu spoluhráči odkaz.
        Hrajte hned teď!
      </p>

      <div class="menu">
        <div class="buttons">
          <form action="" method="post">
            <input type="submit" value="Založit hru!" class="button active"/>
          </form>
        </div>
      </div>


    </div>
    {% module Template("parts/footer.html") %}
  </body>
</html>
