<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/404.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  {% module Template("parts/tracking.html") %}
  {% module Template("parts/meta.html",
  subtitle="404",
  url=url,
  image="https://nejvyzkum/favicon.ico",
  description="Něco se ošklivě pokazilo a určitě je to jen a jen vaše chyba. Tak držte hubu a krok a přidejte!"
  ) %}

</head>

<body>
  {% module Template("parts/upper.html") %}
  <h1 class="slogan">
    Něco se ošklivě pokazilo...
  </h1>

  <div class="subslogan">
    Určitě je to jen a jen vaše chyba!
  </div>

  <div class="go">
    <form action="/" method="get">
      <input type="submit" value="Víc se snažit" class="button" />
      <input type="submit" value="Snažit se víc" class="button" />
    </form>
  </div>

  {% module Template("parts/footer.html") %}

</body>
</html>