<!doctype html>

<html lang="cz">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158083031-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-158083031-1');
  </script>

  <meta charset="utf-8">

  <title>Nejvyzkum.cz - 404</title>
  <meta name="description" content="Nejvyzkum - 404">
  <meta name="author" content="Andreas Gajdosik">
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/404.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
</head>

<body>

  <h1 class="slogan">
    Něco se ošklivě pokazilo...
  </h1>

  <div class="subslogan">
    Určitě je to jen a jen vaše chyba!
  </div>

  <div class="go">
    <form action="/play" method="get">
      <input type="submit" value="Víc se snažit" class="button" />
      <input type="submit" value="Snažit se víc" class="button" />
    </form>
  </div>

</body>
</html>