<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">

  <title>Unusual Subjects: {{ subtitle }}</title>
  <meta name="description" content="{{ subtitle }}">
  <meta name="author" content="Andreas Gajdosik">

  <link rel="stylesheet" type="text/css" href="css/play.css">
</head>

<body>
  
  <div class="question">
    {{ question[1] }}
  </div>

  <div class="person">
    {{ first[1] }}
    <form action="" method="post">
      <input type="hidden" name="question" value="{{ question[0] }}">
      <input type="hidden" name="yes" value="{{ first[0] }}">
      <input type="hidden" name="no" value="{{ second[0] }}">
      <input type="submit" value="more"/>
    </form>
  </div>

  <div class="person">
    {{ second[1] }}
    <form action="" method="post">
      <input type="hidden" name="question" value="{{ question[0] }}">
      <input type="hidden" name="yes" value="{{ second[0] }}">
      <input type="hidden" name="no" value="{{ first[0] }}">
      <input type="submit" value="more"/>
    </form>
  </div>

</body>
</html>