<!doctype html>

<html lang="cz">
<head>
  <meta charset="utf-8">

  <title>Nejvyzkum.cz - {{ subtitle }}</title>
  <meta name="description" content="{{ subtitle }}">
  <meta name="author" content="Andreas Gajdosik">
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/profile.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  <script src="js/Chart.js"></script>
</head>

<body>

  <div class="heading">
    <span class="question">{{ profile["name"] }}</span>
    <img src="{{ profile['image'] }}">
    <span>Somatizace: {{ scl90["somatization"] }}</span>
    <span>Obsese-kompulze: {{ scl90["obsessiveCompulsive"] }}</span>
    <span>Sensibilita: {{ scl90["interpersonalSensitivity"] }}</span>
    <span>Deprese: {{ scl90["depression"] }}</span>
    <span>Anxiozita: {{ scl90["anxiety"] }}</span>
    <span>Hostilita: {{ scl90["hostility"] }}</span>
    <span>Fóbie: {{ scl90["phobicAnxiety"] }}</span>
    <span>Paranoidita: {{ scl90["paranoidIdeation"] }}</span>
    <span>Psychocismus: {{ scl90["psychoticism"] }}</span>
    <span>Obecná závažnost: {{ scl90["general"] }}</span>

    <canvas id="myChart" class="graph" width="400px" height="400px"></canvas>
  </div>

  <footer>
    <div>
      <a href="/">Home</a>
      <a href="results">Results</a>
    </div>
    <div>licensed under <a href="https://github.com/raisely/NoHarm/blob/publish/LICENSE.md">NoHarm</a></div> 
    <div>🄯2020 <a href="https://gajdosik.org"></a></div>
  </footer>

</body>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Extroverze', 'Přívětivost', 'Svědomitost', 'Neurotismus', 'Otevřenost'],
        datasets: [{
            label: 'odchylka',
            data: [
              {{(bigFive["extroversion"]/bigFive["average"]-1)*100}} ,
              {{(bigFive["agreeableness"]/bigFive["average"]-1)*100}},
              {{(bigFive["conscientiousness"]/bigFive["average"]-1)*100}},
              {{(bigFive["neuroticism"]/bigFive["average"]-1)*100}},
              {{(bigFive["openness"]/bigFive["average"]-1)*100}}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
        display: true,
        text: '{{ profile["name"] }}: BigFive skóre',
      },
      legend: {
        display: false,
      }
    }
});
</script>

</html>