<!doctype html>

<html lang="cz">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158083031-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-158083031-1');
    gtag('config', 'UA-158083031-3');
  </script>
  
  <meta charset="utf-8">

  <title>Nejvyzkum.cz - {{ subtitle }}</title>
  <meta name="description" content="{{ subtitle }}">
  <meta name="author" content="Andreas Gajdosik">
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/profile.css">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

  <script src="js/Chart.js"></script>
</head>

<body>

  <div class="heading">
    <span class="question">{{ profile["name"] }}</span>
    <img src="{{ profile['image'] }}">
    <span>Somatizace: {{ scl90["somatization"] }}</span>
    <span>Obsese-kompulze: {{ scl90["obsessiveCompulsive"] }}</span>
    <span>Sensibilita: {{ scl90["interpersonalSensitivity"] }}</span>
    <span>Deprese: {{ scl90["depression"] }}</span>
    <span>Anxiozita: {{ scl90["anxiety"] }}</span>
    <span>Hostilita: {{ scl90["hostility"] }}</span>
    <span>Fóbie: {{ scl90["phobicAnxiety"] }}</span>
    <span>Paranoidita: {{ scl90["paranoidIdeation"] }}</span>
    <span>Psychocismus: {{ scl90["psychoticism"] }}</span>
    <span>Obecná závažnost: {{ scl90["general"] }}</span>

    <canvas id="scl90Graph" class="graph" width="800px" height="800px"></canvas>
    <canvas id="bigFiveGraph" class="graph" width="400px" height="400px"></canvas>
  </div>

  <footer>
    <div>
      <a href="/">home</a>
      <a href="play">hrát</a>
    </div>
    <div>🄯2020 <a href="https://gajdosik.org"></a></div>
  </footer>

</body>

<script>

var chartData = {
			labels: ['Somatizace', 'Obsese-Kompulze', 'Hypersenzitivita', 'Deprese', 'Anxiozita', 'Hostilita', 'Fóbie', 'Paranoidita', 'Psychocismus', 'Obecná závažnost'],
			datasets: [{
				type: 'line',
        showLine: false,
        pointStyle: 'line',
        pointRadius: 18,
        borderWidth: 5,
				label: 'Hranice onemocnění',
        backgroundColor: "red",
				borderColor: "red",
				data: [
					0.81,
					1.07,
					0.99,
					0.99,
					1.23,
					0.78,
					0.54,
          0.80,
          0.50,
          0.89
				]
			}, {
				type: 'line',
        showLine: false,
        pointStyle: 'line',
        pointRadius: 18,
        borderWidth: 5,
				label: 'Hranice normy',
				backgroundColor: "orange",
        borderColor: 'orange',
				data: [
          0.75,
					0.99,
					0.65,
					0.66,
					0.80,
					0.71,
					0.36,
          0.61,
          0.34,
          0.64
				]
			}, {
				type: 'bar',
				label: 'Naměřená hodnota',
				backgroundColor: "green",
				data: [
          {{ scl90["somatization"] }},
					{{ scl90["obsessiveCompulsive"] }},
					{{ scl90["interpersonalSensitivity"] }},
					{{ scl90["depression"] }},
					{{ scl90["anxiety"] }},
					{{ scl90["hostility"] }},
					{{ scl90["phobicAnxiety"] }},
          {{ scl90["paranoidIdeation"] }},
          {{ scl90["psychoticism"] }},
          {{ scl90["general"] }}
				]
			}]

		};


var scl = document.getElementById('scl90Graph').getContext('2d');
var sclChart = new Chart(scl, {
  type: 'bar',
	data: chartData,
	options: {
		responsive: true,
		title: {
			display: true,
			text: '{{ profile["name"] }}: Symptom Checklist 90',
		},
		tooltips: {
			mode: 'index',
			intersect: true
		}
	}
});


var bfg = document.getElementById('bigFiveGraph').getContext('2d');
var bigFiveChart = new Chart(bfg, {
    type: 'bar',
    data: {
        labels: ['Extroverze', 'Přívětivost', 'Svědomitost', 'Neurotismus', 'Otevřenost'],
        datasets: [{
            label: 'odchylka',
            data: [
              {{(bigFive["extroversion"]/bigFive["average"]-1)*100}} ,
              {{(bigFive["agreeableness"]/bigFive["average"]-1)*100}},
              {{(bigFive["conscientiousness"]/bigFive["average"]-1)*100}},
              {{(bigFive["neuroticism"]/bigFive["average"]-1)*100}},
              {{(bigFive["openness"]/bigFive["average"]-1)*100}}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
        display: true,
        text: '{{ profile["name"] }}: BigFive skóre',
      },
      legend: {
        display: false,
      }
    }
});
</script>

</html>